{$ALLOWED_HOSTS} {
    handle /static/* {
        root * /srv/static
        file_server
    }
    handle /media/* {
        root * /srv/media
        file_server
    }

    reverse_proxy web:8000

}
